<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category), class: 'btn btn-primary' %>
<% end %>

<% @items.each do |item| %>
  <div class="card mb-1">
    <div class="card-body">
      <%= item.title %> | <%= number_to_currency(item.price) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %>
    </div>
  </div>
<% end %>