<div class="row text-center">
  <div class="col">
    <% @categories.each do |category| %>
      <%= link_to category.title, category_path(category), class: 'btn btn-outline-primary mb-1' %>
    <% end %>
  </div>
</div>

<% @items.each do |item| %>
  <%= render partial: 'items/item', locals: {item: item} %>
<% end %>